/* Media Queries  */
@media screen and (max-width: 1440px){
h1 {font-size: 54px; line-height: 62px;}
h2 {font-size: 40px; line-height: 46px;}
h4 {font-size: 26px; line-height: 30px;}
p {line-height: 34px;}
.banner_outer {border-radius: 0 0 50px 50px;}
.banner_outer .bannersidelayer img {width: 489px;}
.banner-section .bannersidecircle1 {top: 10px; left: 27px;}
.banner-section .bannersidecircle1 img{ width: 49px;}
.banner-section .bannersidecircle2 {top: 526px;}
.banner-section .bannersidecircle2 img{ width: 44px;}
.banner-section .banner_content {padding-top: 0px;}
.banner-section .banner_wrapper2 {top: 21px;}
.banner-section .banner_wrapper2 .bannerphone2 {top: -4px; left: -26px;}
.banner-section .banner_wrapper2 .bannerphone2 img {width: 315px;}
.banner-section .banner_wrapper2 .bannerphoneback {top: -57px; right: 40px;}
.banner-section .banner_wrapper2 .bannerphoneback img {width: 552px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon {top: -44px; right: 262px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon img {width: 83px;}
.banner-section .banner_wrapper2 .bannerphone-circle {top: 39px; right: 237px;}
.banner-section .banner_wrapper2 .bannerphone-circle img {width: 36px;}
.banner-section .banner_wrapper2 .bannerphone1 {top: -30px; right: -18px;}
.banner-section .banner_wrapper2 .bannerphone1 img {width: 372px;}
.banner-section .banner_content p {margin-bottom: 25px;}
.basic-feature {padding-bottom: 146px;}
.offer-videosection .image-sidecircle {position: absolute; right: -20px; top: -58px;}
.search_wrapper .search-sidecircle {left: -90px;}
.search_wrapper .search-phoneback {right: 46px;}
.search_wrapper .search-phone1 {right: -36px;}
.search_wrapper .search-phone2 {left: -138px;}
.manage_wrapper .manage-sidecircle {left: -10px;}
.manage_wrapper .manage-phoneback {right: -50px;}
.manage_wrapper .manage-phone2 {right: 2px;}
.manage_wrapper .manage-phone1 {left: 50px;}
.statistics-section .statistics-sidelayer img{width: 650px;}
.price-block .price-sidecircle {right: -22px; top: -54px;}
.price-section .price-circle {top: -370px; right: -320px;}
.available-section .available_wrapper .available-phone1{left: -240px; top: -172px;}
.available-section .available_wrapper .available-phone1 img{width: 415px;}
.available-section .available_wrapper .available-phone3 {top: 210px; left: -76px;}
.available-section .available_wrapper .available-phone3 img{width: 460px;}
.available-section .available-phone2 {top: 172px;}
.available-section .available-phone2 img{width: 370px;} 
/* About */
.sub-banner .bannersidelayer img {width: 489px;}
.sub-banner .banner-section .bannersidecircle1 {top: 54px;}
.sub-banner .banner-section .bannersidecircle2 {top: 175px;}
.about-section .price-circle {top: -284px; right: -346px;}
.about-section .price-sidecircle {right: -24px; top: -46px;}
.team-section .our-teams-wrapper {margin-top: -454px;}
#carouselExampleControls .carousel-control-prev {left: -42px; width: 10%;}
#carouselExampleControls .carousel-control-next{right: -42px; width: 10%;}
/* Contact */
.message-section .manage_wrapper .manage-phoneback {right: -24px;}
.message-section .manage_wrapper .manage-phone1 {left: 14px;}
.message-section .manage_wrapper .manage-phone2 {right: 38px;}
/* Pricing */
.pricing-section .price-sidecircle {right: -30px;}
.pricing-section .price-sidecircle img{width: 42px;}
}

@media screen and (max-width: 1199px){
.navbar-nav li:last-child {margin-left: 22px;}
.navbar {padding: 35px 0;}
.navbar-brand figure img {width: 145px;}
.navbar-nav li {margin: 0px 12px;}
.navbar-nav .nav-item .try_free_btn {padding: 16px 28px;}
h1 {font-size: 44px; line-height: 54px;}    
h2 {font-size: 34px; line-height: 40px;}
h3 {font-size: 28px; line-height: 32px;}
h4 {font-size: 24px; line-height: 28px;}
h5 {font-size: 24px; line-height: 30px;}
h6 {font-size: 20px; line-height: 25px;}
p {font-size: 18px; line-height: 30px;}
.banner_outer .bannersidelayer img {width: 362px;}
.banner-section {padding: 100px 0 270px;}
.banner-section .banner_content {padding-top: 0px;}
.banner-section .banner_content h3 {margin-bottom: 5px;}
.banner-section .banner_content p {margin-bottom: 26px;}
.banner-section .banner_content span {margin-bottom: 16px;}
.banner-section .banner_content .image_apple img{width: 144px;}
.banner-section .banner_content .image_google img{width: 142px;}
.banner-section .bannersidecircle1 {top: -2px;}portant
.banner-section .bannersidecircle1 img {width: 48px;}
.banner-section .bannersidecircle2 { top: 512px;}
.banner-section .bannersidecircle2 img{width: 41px;}
.banner-section .banner_wrapper2 {top: 7px;}
.banner-section .bannerphone2 img {width: 273px;}
.banner-section .banner_wrapper2 .bannerphoneback {top: -42px; right: 42px;}
.banner-section .banner_wrapper2 .bannerphoneback img {width: 470px;}
.banner-section .bannerphone1 {top: -26px ; right: -22px ;}
.banner-section .banner_wrapper2 .bannerphone1 img {width: 330px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon {top: -20px; right: 225px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon img {width: 76px;}
.banner-section .banner_wrapper2 .bannerphone-circle {top: 58px; right: 208px;}
.banner-section .banner_wrapper2 .bannerphone-circle img {width: 32px;}
.banner-section .banner_wrapper2 .bannerphone2 {left: -46px;}
.banner-section .banner_wrapper2 .bannerphone2 img {width: 275px;}
.partner-section .partner_box {padding: 50px 35px;}
.partner-section .partner_box li {margin-right: 15px;}
.aboutus-section {padding: 97px 0 89px;}
.aboutus-section .aboutus_text {padding: 39px 0 0;}
.basic-feature .featurephoneback img {width: 470px;}
.basic-feature .featurephoneback {left: -18px;}
.basic-feature .featurephone {left: 100px; top: 6px;}
.basic-feature .featurephone img{width: 260px;}
.basic-feature .featurephone-over {right: -28px; top: 268px;}
.basic-feature .featurephone-over img{width: 230px;}
.basic-feature .feature-circle {left: 22px; top: 84px;}
.basic-feature .feature-circle img{width: 60px;}
.basic-feature .feature-box figure{height: 75px; width: 75px; line-height: 75px; margin-bottom: 12px;}
.basic-feature .feature_wrapperright {padding: 0px 0 0 7px;}
.basic-feature .feature-box {margin-bottom: 40px;}
.basic-feature .feature-design {padding-left: 0;}
.basic-feature {padding-bottom: 58px;}
.offer-videosection .image-sidecircle {right: -14px; top: -46px;}
.offer-videosection .image-sidecircle img{width: 44px;}
.offer-section .offer_content .offer-apple img{width: 144px;}
.offer-section .offer_content .offer-google img{width: 142px;}
.offer-section {padding: 328px 0 98px;}
.search-section {padding: 124px 0 160px;}
.search_content .search-icon {height: 75px; width: 75px; line-height: 75px; margin-bottom: 12px;}
.search-section .search_content p {padding-right: 42px;}
.search-section .search_content .p-text {margin-bottom: 26px;}
.search-section .try_free_btn {padding: 16px 28px;}
.search-section .search_wrapper .search-sidecircle {left: -56px; top: 26px;}
.search-section .search_wrapper .search-sidecircle img{width: 60px;}
.search-section .search_wrapper .search-phoneback {right: 28px;}
.search-section .search_wrapper .search-phoneback img{width: 480px;}
.search-section .search_wrapper .search-phone1 {right: -20px; top: -6px;}
.search-section .search_wrapper .search-phone1 img{width: 330px;}
.search-section .search_wrapper .search-phone2 {left: -72px; top: -26px;}
.search-section .search_wrapper .search-phone2 img{width: 320px;}
.manage-section {padding: 194px 0 0 0;}
.manage-section .manage_wrapper .manage-sidecircle {left: -6px; top: 44px;}
.manage-section .manage_wrapper .manage-sidecircle img{width: 40px;}
.manage-section .manage_wrapper .manage-phoneback {right: -18px; top: 20px;}
.manage-section .manage_wrapper .manage-phoneback img{width: 470px;}
.manage-section .manage_wrapper .manage-phone2 {right: 38px; top: -6px;}
.manage-section .manage_wrapper .manage-phone2 img{width: 210px;}
.manage-section .manage_wrapper .manage-phone1 {left: 44px; top: -26px;}
.manage-section .manage_wrapper .manage-phone1 img{width: 185px;}
.manage-section .manage_content {padding-left: 43px;}
.search-section .manage-icon{height: 75px; width: 75px; line-height: 75px; margin-bottom: 12px;}
.manage-section .manage-section .manage_content .p-text {margin-bottom: 26px;}
.statistics-section {padding: 100px 0 92px;}
.statistics-section .statistics-value .value1 {font-size: 42px; line-height: 34px;}
.statistics-section .statistics-value .text1 {font-size: 20px; line-height: 34px;}
.statistics-section .statistics-sidelayer img {width: 610px;}
.price-section {padding: 94px 0 102px;}
.price-section .price_heading h2 {margin-bottom: 35px;}
.price-block .price-sidecircle {right: -10px; top: -52px;}
.price-section .price_content .text1 {font-size: 38px; line-height: 50px;}
.price-section .price-block .price_content {padding: 40px;}
.price-section .price_content .icon-size1{height: 100px; width: 100px; line-height: 100px; margin-bottom: 12px;}
.price-section .price_content .get_started {padding: 20px 38px;}
.accordian-section {padding: 97px 0 100px;}
.accordian-section .accordian-inner .card-body {padding: 20px 0;}
.accordian_content h4 {margin-bottom: 6px;}
.accordian_content h2 {margin-bottom: 35px;}
.available-section {padding: 90px 0 100px;}
.available-section .available_content h2 {font-size: 50px; line-height: 65px; padding-right: 150px; margin-bottom: 10px;}
.available-section .available_content p {line-height: 30px; padding-right: 44px; margin-bottom: 20px;}
.available-section .available-sidelayer {display: none;}
.available-section .available_content .available-apple img{width: 144px;}
.available-section .available_content .available-google img{width: 142px;}
.available-section .available_wrapper .available-phone1 {left: -222px; top: -152px;}
.available-section .available_wrapper .available-phone1 img {width: 372px;}
.available-section .available_wrapper .available-phone3 {top: 180px; left: -134px;}
.available-section .available_wrapper .available-phone3 img {width: 432px;}
.available-section .available-phone2 {top: 150px;}
.available-section .available-phone2 img {width: 350px;}
.footer-section {padding: 98px 0 0px;}
.footer-section .heading {font-size: 28px; line-height: 24px; margin-bottom: 28px;}
.footer-section .text {line-height: 32px;}
.footer-section .middle-portion {margin-bottom: 35px;}
.footer-section .middle-portion .services {padding-left: 10px;}
.footer-section .middle-portion .links {padding-left: 30px;}
.footer-section .middle-portion .aboutus {padding-left: 50px;}
.footer-section .footer-lower .text-size-18 {line-height: 36px;}
.footer-section .footer-lower {padding: 30px 0;}
/* About */
.sub-banner {border-radius: 0 0 115px 115px;}
.sub-banner .bannersidelayer img {width: 362px;}
.sub-banner .banner-section .bannersidecircle2 {top: 130px;}
.sub-banner .banner-section {padding: 60px 0 95px;}
.sub-banner .banner-section .banner_content .box span {font-size: 18px; line-height: 28px;}
.sub-banner .banner-section .banner_content .box figure {margin: 0 12px;}
.sub-banner .banner-section .banner_content .box {padding: 5px 20px; margin-bottom: 26px;}
.sub-banner .banner-section .banner_content p {padding: 0px 110px;}
.about-section {padding: 220px 0 100px;}
.about-section .about_content {padding: 45px 30px;}
.count-section .count_content {margin-top: 0;}
.about-section .about_content .icon-size1 {height: 132px; width: 132px; line-height: 132px;}
.about-section .about_content h3 {font-size: 30px;}
.about-section .about_content p {padding: 0px;}
.about-section .price-sidecircle {right: -12px;}
.count-section {padding: 100px 0;}
.count-section .count_content h2 {margin-bottom: 16px;}
.count-section .count_content .offer-apple img {width: 144px;}
.count-section .count_content .offer-google img {width: 142px;}
.count-section .count-rightcontent .value1 {font-size: 42px; line-height: 34px;}
.count-section .count-rightcontent .text1 {font-size: 20px; line-height: 34px;}
.count-section .count-rightcontent .number1 {padding: 30px 18px 28px;}
.team-section .teams-background {padding: 237px 0;}
.team-section .our-teams-wrapper .team_content h2 {margin-bottom: 34px;}
.team-section .our-teams-wrapper .team-box .lower-part {padding: 26px;}
.team-section .our-teams-wrapper .team-box .lower-part p {margin-bottom: 14px;}
.team-section .our-teams-wrapper .team-box .lower-part ul li {margin-right: 13px;}
.team-section .teams-background figure img{width: 460px;}
.team-section .our-teams-wrapper {margin-top: -381px;}
.review-section {padding: 62px 0 100px;}
.review-section .review_content .content-box .circle {height: 90px; width: 90px; line-height: 90px;}
#carouselExampleControls .carousel-control-prev {left: -25px; width: 5%;}
#carouselExampleControls .carousel-control-next {right: -25px; width: 5%;}
/* Feature About */
.feature-aboutsection {padding: 216px 0 82px;}
.feature-aboutsection .feature_aboutcontent .icon-size1 {height: 110px; width: 110px; line-height: 110px;}
.feature-aboutsection .feature_aboutcontent h5 {line-height: 40px; margin-bottom: 2px;}
.feature-aboutsection .feature-block .feature_aboutcontent {padding: 52px 30px 44px;}
.feature-basicfeature {padding: 95px 0 140px;}
/* Contact */
.message-section .manage_content {padding-left: 20px;}
.message-section .message_content {padding: 40px 30px;}
.message-section .message_content input {padding: 10px 18px; margin-bottom: 20px;}
.message-section .message_content textarea {height: 170px;}
.message-section .message_content .submit_now {padding: 18px 40px;}
.message-section .manage_wrapper .manage-phoneback {right: -18px; top: 38px;}
.message-section .manage_wrapper .manage-phoneback img{width: 470px;}
.message-section .manage_wrapper .manage-phone2 {right: 38px; top: 20px;}
.message-section .manage_wrapper .manage-phone2 img{width: 210px;}
.message-section .manage_wrapper .manage-phone1 {left: 44px; top: 2px;}
.message-section .manage_wrapper .manage-phone1 img{width: 185px;}
.contact-section {padding: 96px 0 84px;}
.contact-section .feature-block .feature_aboutcontent .icon-size1 {height: 100px; width: 100px; line-height: 100px;}
.contact-section .feature-block .feature_aboutcontent {padding: 44px 30px;}
/* Pricing */
.outer_background .sub-banner .banner-section {padding: 58px 0 236px;}
.pricing-section {padding: 0 0 83px;}
.pricing-section .price-sidecircle {display: none;}
.pricing-section .pricing-box {padding: 20px; margin-bottom: 20px;}
.pricing-section .pricing_content { width: 100%; padding: 20px 0 10px;}
.pricing-section .pricing_content .icon-size1 {height: 100px; width: 100px; line-height: 100px; margin-bottom: 12px;}
.pricing-section .pricing-box .content1 {padding: 35px 0 0 8px;}
.pricing-section .pricing-box .content2 {padding: 33px 0 0 8px;}
.pricing-section .pricing-box .text1 {font-size: 38px; line-height: 60px; margin-bottom: 5px;}
.pricing-section .pricing-box .content3 {padding: 20px 0 0 18px;}
.pricing-section .pricing-box .get_started {padding: 20px 38px;}
}

@media screen and (max-width: 991px){
.navbar {padding: 25px 0;}
.navbar-nav .nav-item .try_free_btn { padding: 12px 30px !important; font-size: 16px !important; line-height: 16px !important; background-color: transparent; font-weight: 400 !important; display: block; text-align: left; border-radius: 0; color: var(--e-global-color-primary) !important;}
.navbar-nav .nav-item .try_free_btn:hover { color: var(--e-global-color-white) !important; background-color: var(--e-global-color-bright-blue) !important;}
.navbar-nav .active > .try_free_btn {background-color: var(--e-global-color-bright-blue); color: var(--e-global-color-white) !important;}
.navbar-collapse {background: var(--e-global-color-white); position: absolute; right: 0px; width: 30%; top: 60px; z-index: 16; padding: 0;}
.navbar-toggler {margin-left: auto; border: none !important; padding: 0; width: 30px; height: 22px;}
.navbar-light .navbar-toggler-icon { background: var(--e-global-color-white); height: 2px; margin: 7px 0 0 0; width: 100%; float: right;}
.navbar-toggler.collapsed span:nth-child(1) {transform: rotate(0deg);}
.navbar-toggler span.navbar-toggler-icon:first-child {margin-top: 0;}
.navbar-toggler span:nth-child(1) {transform: rotate(45deg); transform-origin: 0% 80%;}
.navbar-toggler span.navbar-toggler-icon {transition: all 0.15s;}
.navbar-toggler.collapsed span:nth-child(2) {opacity: 1;}
.navbar-toggler span:nth-child(2) {opacity: 0;}
.navbar-toggler.collapsed span:nth-child(3) {transform: rotate(0deg);}
.navbar-toggler span:nth-child(3) {transform: rotate(-45deg); transform-origin: 15% 100%;}
.collapse:not(.show) {display: none;}
.navbar-collapse ul{align-items: unset; text-align: unset; margin-left: 0;}
 button:focus { outline: none;}
.navbar-nav .nav-item a {font-size: 16px; line-height: 16px; padding: 12px 30px !important; color: var(--e-global-color-primary) !important;}
.navbar-nav .active > a {color: var(--e-global-color-white) !important; background-color: var(--e-global-color-secondary) !important;}
.navbar-nav .nav-item a:hover{color: var(--e-global-color-white) !important; background-color: var(--e-global-color-secondary) !important;}
.navbar li {margin: 0 !important; padding: 0;}
h1{font-size: 34px; line-height: 42px;}
h2 {font-size: 28px; line-height: 32px;}
h3{font-size: 24px; line-height: 26px;}
h4 {font-size: 20px; line-height: 22px;}
h5 {font-size: 22px; line-height: 28px;}
p{font-size: 16px; line-height: 24px;}
.text-size-18 {font-size: 16px; line-height: 24px;}
.banner-section {padding: 54px 0 240px;}
.banner-section .banner_content h1{margin-bottom: 8px;}
.banner-section .banner_content h3 {margin-bottom: 10px;}
.banner-section .banner_content p{margin-bottom: 20px;}
.banner-section .banner_content span {font-size: 16px; line-height: 18px;}
.banner-section .banner_content .image_apple {margin-right: 5px;}
.banner-section .banner_content .image_apple img{width: 141px;}
.banner-section .banner_content .image_google img{width: 140px;}
.banner-section .bannersidecircle1{display: none;}
.banner-section .bannersidecircle2{top: 404px;}
.banner-section .bannersidecircle2 img{ width: 40px;}
.banner-section .banner_wrapper2 .bannerphone2{top: 34px; left: -40px;} 
.banner-section .banner_wrapper2 .bannerphone2 img{width: 218px;}
.banner-section .banner_wrapper2 .bannerphoneback{top: -16px; right: -18px;}
.banner-section .banner_wrapper2 .bannerphoneback img{width: 400px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon{top: 18px; right: 162px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon img{width: 60px;}
.banner-section .banner_wrapper2 .bannerphone-circle{top: 80px; right: 152px;;}
.banner-section .banner_wrapper2 .bannerphone-circle img{width: 26px;}
.banner-section .banner_wrapper2 .bannerphone1{ top: 16px; right: -34px;}
.banner-section .banner_wrapper2 .bannerphone1 img{width: 265px;}  
.partner-section .partner_box {padding: 34px 16px; margin-top: -50px;}
.partner-section .partner_box li {margin-right: 12px;}
.partner-section .partner1 img{width: 118px;}
.partner-section .partner2 img{width: 118px;}
.aboutus-section {padding: 70px 0 63px;}
.aboutus-section .aboutus_text {padding: 20px 0 0;}
.basic-feature .featurephoneback {left: -28px;}
.basic-feature .featurephoneback img{width: 370px;}
.basic-feature .featurephone {left: 70px; top: 36px;}
.basic-feature .featurephone img{width: 195px;}
.basic-feature .featurephone-over {top: 200px;}
.basic-feature .feature-circle {left: -6px; top: 84px;}
.basic-feature .feature_content h2 {margin-bottom: 28px;}
.basic-feature .feature-box {margin-bottom: 30px;}
.basic-feature .feature-box figure{height: 70px; width: 70px; line-height: 70px; margin-bottom: 10px;}
.basic-feature .feature_lowercontent h6 {margin-bottom: 5px;}
.basic-feature .feature_lowercontent {padding-left: 0;}
.basic-feature .feature-design {padding-left: 0px;}
.basic-feature {padding-bottom: 37px;}
.offer-section {padding: 254px 0 70px; margin-top: -184px;}
.offer-section .offer_content p {padding: 0 30px 0px 30px;}
.offer-section .offer_content .offer-apple img{width: 142px;}
.offer-section .offer_content .offer-google img{width: 140px;}
.search-section {padding: 70px 0 90px;}
.search-section .search_content .search-icon {height: 70px; width: 70px; line-height: 70px; margin-bottom: 10px;}
.search-section .search_content h2 {margin-bottom: 10px;}
.search-section .search_content p {padding-right: 16px;}
.search-section .search_content .p-text {margin-bottom: 20px;}
.search-section .try_free_btn {padding: 14px 24px;}
.search-section .search_wrapper .search-phoneback {right: -28px; top: 32px;}
.search-section .search_wrapper .search-phoneback img{width: 410px;}
.search-section .search_wrapper .search-phone1 {right: -37px; top: 25px;}
.search-section .search_wrapper .search-phone1 img {width: 270px;}
.search-section .search_wrapper .search-phone2 {left: -82px; top: -2px;}
.search-section .search_wrapper .search-phone2 img {width: 270px;}
.manage-section {padding: 117px 0 0 0;}
.manage-section .manage_content {padding-left: 30px;}
.search-section .manage-icon{height: 70px; width: 70px; line-height: 70px; margin-bottom: 10px;}
.manage-section .manage_content h2 {margin-bottom: 10px;}
.manage-section .manage_content .p-text {margin-bottom: 20px;}
.manage-section .manage_wrapper .manage-sidecircle {left: -30px; top: -4px;}
.manage-section .manage_wrapper .manage-sidecircle img {width: 40px;}
.manage-section .manage_wrapper .manage-phoneback {right: -38px; top: 26px;}
.manage-section .manage_wrapper .manage-phoneback img {width: 400px;}
.manage-section .manage_wrapper .manage-phone2 {right: 0px; top: -2px;}
.manage-section .manage_wrapper .manage-phone2 img {width: 190px;}
.manage-section .manage_wrapper .manage-phone1 {left: 0px; top: -12px;}
.manage-section .manage_wrapper .manage-phone1 img {width: 164px;}
.statistics-section {padding: 70px 0;}
.statistics-section .statistics-sidelayer img {width: 535px;}
.statistics-section .statistics_content p {margin-bottom: 35px;}
.statistics-section .statistics-value .value1 {font-size: 38px; line-height: 32px;}
.statistics-section .statistics-value .plus {font-size: 20px; line-height: 22px;}
.statistics-section .statistics-value .text1 {font-size: 18px; line-height: 18px;}
.price-section {padding: 70px 0 74px;}
.price-section .price-circle {top: -442px; right: -376px;}
.price-block .price-sidecircle {top: -34px;}
.price-block .price-sidecircle img{width: 40px;}
.price-section .price_heading h2 {margin-bottom: 30px;}
.price-section .price-block .price_content {padding: 30px 10px;}
.price-section .price_content .icon-size1 {height: 90px; width: 90px; line-height: 90px;}
.price-section .price_content .text1 {font-size: 30px; line-height: 36px;}
.price-section .price_content .for-space {margin-bottom: 20px;}
.price-section .price_content .get_started {font-size: 16px; line-height: 16px;padding: 18px 30px;}
.accordian-section {padding: 70px 0;}
.accordian_content h2 {margin-bottom: 30px;}
.accordian-section .faq_shape {top: -40px; left: -4px;}
.accordian-section .faq_shape img{width: 40px;}
.accordian-section .accordian-inner .accordion-card h6 {line-height: 40px;}
.accordian-section .accordion-card .btn-link:before {font-size: 26px; line-height: 26px; right: 0; top: 32%;}
.accordian-section .accordian-inner .accordion-card .btn {padding: 0px;}
.available-section {padding: 64px 0 70px;}
.available-section .available_content h2 {font-size: 44px; line-height: 54px; padding-right: 60px; margin-bottom: 6px;}
.available-section .available_content p {line-height: 28px; padding-right: 32px; margin-bottom: 18px;}
.available-section .available_content .available-apple img {width: 141px;}
.available-section .available_wrapper .available-phone1 {left: -172px; top: -114px;}
.available-section .available_wrapper .available-phone1 img {width: 320px;}
.available-section .available_wrapper .available-phone3 {top: 186px; left: -120px;}
.available-section .available_wrapper .available-phone3 img {width: 352px;}
.available-section .available-phone2 {top: 142px;}
.available-section .available-phone2 img {width: 280px;}
.footer-section {padding: 68px 0 0px;}
.footer-section .middle-portion .footer-logo {margin-bottom: 32px;}
.footer-section .middle-portion .footer-logo img{width: 130px;}
.footer-section .middle-portion .icons ul li {margin-right: 12px;}
.footer-section .heading {font-size: 26px; line-height: 22px; margin-bottom: 24px;}
.footer-section .text {font-size: 16px; line-height: 30px;}
.footer-section .middle-portion .links {padding-left: 60px;}
.footer-section .middle-portion .aboutus {padding-left: 70px;}
.footer-section .middle-portion {margin-bottom: 30px;}
.footer-section .footer-lower {padding: 20px 0;}
.footer-section .footer-lower .text-size-18 {font-size: 16px; line-height: 18px;}
/* About */
.sub-banner {border-radius: 0 0 100px 100px;}
.sub-banner .banner-section {padding: 46px 0 67px;}
.sub-banner .banner-section .bannersidecircle1 {top: 16px; display: block;}
.sub-banner .banner-section .bannersidecircle2 {top: 78px;}
.sub-banner .banner-section .banner_content .box {padding: 3px 15px; margin-bottom: 22px;}
.sub-banner .banner-section .banner_content .box span {font-size: 16px; line-height: 24px;}
.sub-banner .banner-section .banner_content .box figure {margin: 0 9px;}
.sub-banner .banner-section .banner_content p {padding: 0px 60px;}
.about-section {padding: 190px 0 70px;}
.about-section .price-circle {top: -352px; right: -370px;}
.about-section .price-sidecircle {right: -12px; top: -38px;}
.about-section .price-sidecircle img {width: 40px;}
.about-section .about_content .icon-size1 {height: 122px; width: 122px; line-height: 122px; margin-bottom: 24px;}
.about-section .about_content h3 {font-size: 28px;}
.about-section .about_content {padding: 35px 15px;}
.count-section {padding: 70px 0;}
.count-section .count_content .offer-apple img {width: 142px;}
.count-section .count_content .offer-google img {width: 140px;}
.count-section .count-rightcontent .value1 {font-size: 38px; line-height: 32px;}
.count-section .count-rightcontent .plus1 {font-size: 20px; line-height: 22px;}
.count-section .count-rightcontent .text1 {font-size: 18px; line-height: 18px;}
.count-section .count-rightcontent .number1 {padding: 28px 16px 26px;}
.team-section .teams-background {padding: 175px 0;}
.team-section .our-teams-wrapper {margin-top: -284px;}
.team-section .teams-background figure img {width: 385px;}
.team-section .our-teams-wrapper .team_content h2 {margin-bottom: 30px;}
.team-section .our-teams-wrapper .team-box .lower-part {padding: 20px;}
.team-section .our-teams-wrapper .team-box .lower-part p {font-size: 16px; line-height: 20px; margin-bottom: 12px;}
.team-section .our-teams-wrapper .team-box .lower-part ul li {margin-right: 11px;}
.review-section {padding: 40px 0 70px;}
.review-section .review_content .content-box .circle{height: 85px; width: 85px; line-height: 85px;}
.review-section .review_content .content-box .circle .review-circlecoma img {width: 40px;}
.review-section .review-sidecircle {top: 66px; left: 8px;}
.review-section .review-sidecircle img{width: 40px;}
.review-section .review_content .content-box {padding: 70px 28px 25px;}
.review-section .review_content h2 {margin-bottom: 64px;}
/* FAQ */
.faq-section {padding: 186px 0 70px;}
/* Feature About */
.feature-aboutsection {padding: 188px 0 50px;}
.feature_aboutheading h2{margin-bottom: 30px;}
.feature-aboutsection .feature_aboutcontent .icon-size1 {height: 100px; width: 100px; line-height: 100px;}
.feature-aboutsection .feature_aboutcontent h5 {font-size: 20px; line-height: 30px;}
.feature-aboutsection .feature-block .feature_aboutcontent {padding: 50px 0 42px;}
.feature-basicfeature {padding: 70px 0 85px;}
/* Contact */
.message-section .message_content {padding: 40px 24px;}
.message-section .message_content h2 {margin-bottom: 20px;}
.message-section .manage_content {padding-left: 30px;}
.message-section .message_content {padding: 35px 20px;}
.message-section .message_content input {font-size: 16px; line-height: 22px; padding: 10px; margin-bottom: 15px;}
.message-section .message_content textarea {font-size: 16px; line-height: 22px; height: 130px; padding: 15px 10px; margin-bottom: 10px;}
.message-section .message_content .submit_now {font-size: 16px; line-height: 16px; padding: 15px 50px;}
.message-section .manage_wrapper .manage-phoneback {right: -44px; top: 40px;}
.message-section .manage_wrapper .manage-phoneback img {width: 400px;}
.message-section .manage_wrapper .manage-phone2 {right: 0px; top: 32px;}
.message-section .manage_wrapper .manage-phone2 img {width: 190px;}
.message-section .manage_wrapper .manage-phone1 {left: 0px; top: 20px;}
.message-section .manage_wrapper .manage-phone1 img {width: 164px;}
.contact-section {padding: 66px 0 54px;}
.contact-section .feature-block .feature_aboutcontent {padding: 40px 0;}
.contact-section .feature-block .feature_aboutcontent .icon-size1 {height: 90px; width: 90px; line-height: 90px;}
/* Pricing */
.outer_background .sub-banner .banner-section {padding: 46px 0 178px;}
.pricing-section {padding: 0 0 53px; margin-top: -113px;}
.pricing-section .pricing-box {padding: 15px; margin-bottom: 15px;}
.pricing-section .pricing_content .icon-size1 {height: 90px; width: 90px; line-height: 90px;}
.pricing-section .pricing_content {padding: 10px 0;}
.pricing-section .pricing-box .text-size-18 {font-size: 16px; margin-bottom: 8px;}
.pricing-section .pricing-box .content1 {padding: 30px 0 0 15px;}
.pricing-section .pricing-box .content3 {padding: 18px 0 0;}
.pricing-section .pricing-box .text1 {font-size: 30px; line-height: 45px;}
.pricing-section .pricing-box .get_started {font-size: 16px; line-height: 16px; padding: 10px 22px;}
}

@media screen and (max-width: 767px){
.navbar-collapse {width: 40%; top: 55px;}
.navbar {padding: 20px 0;}
.navbar-brand figure img {width: 140px;}
h1{font-size: 30px; line-height: 38px;}
h2 {font-size: 26px; line-height: 30px;}
h3{font-size: 22px; line-height: 26px;}
h6 {font-size: 18px; line-height: 22px;}
.banner-section {padding: 34px 0 85px;}
.banner-section .banner_content { padding-top: 0px; text-align: center; margin-bottom: 50px;}
.banner-section .banner_content h1{margin-bottom: 19px; padding: 0 15px;}
.banner-section .banner_content p{margin-bottom: 18px;}
.banner-section .banner_content span{margin-bottom: 15px;}
.banner-section .banner_content .image_google img {width: 120px;}
.banner-section .banner_content .image_apple img {width: 120px;}
.banner-section .bannersidecircle2{top: 276px;}
.banner-section .bannersidecircle2 img{width: 32px;}
.banner-section .banner_wrapper2 {position: relative; text-align: center;}
.banner-section .banner_wrapper2 .bannerphone2{top: 20px; left: 56px;} 
.banner-section .banner_wrapper2 .bannerphoneback{top: -32px; right: 8px; position: relative;}
.banner-section .banner_wrapper2 .bannerphone-circleicon{top: -18px; right: 230px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon img{width: 73px;}
.banner-section .banner_wrapper2 .bannerphone-circle{top: 63px; right: 212px;}
.banner-section .banner_wrapper2 .bannerphone-circle img {width: 30px;}
.banner-section .banner_wrapper2 .bannerphone1{right: 32px;}
.partner-section {text-align: center;}
.partner-section .partner_box {padding: 20px 25px;}
.partner-section .partner_box li {margin-right: 30px; margin-bottom: 25px;}
.aboutus-section {padding: 60px 0 14px; text-align: center;}
.aboutus-section .aboutus_content h2 {margin-bottom: 16px !important;}
.aboutus-section .aboutus_text { padding: 0;}
.basic-feature .feature_wrapperleft{text-align: center; margin-bottom: 130px;}
.basic-feature .featurephoneback {left: 0; position: relative;}
.basic-feature .featurephone {left: 163px;}
.basic-feature .featurephone-over {right: 32px;}
.basic-feature .feature-circle {left: 80px; top: 80px;}
.basic-feature .feature_wrapperright{text-align: center;}
.basic-feature .feature-box figure{height: 70px; width: 70px; line-height: 70px; margin-bottom: 10px;}
.basic-feature .feature_lowercontent h6 {margin-bottom: 2px;}
.basic-feature .feature-design {padding-left: 0px;}
.basic-feature {padding-bottom: 28px;}
.offer-section {padding: 184px 0 58px; margin-top: -122px;}
.offer-section .offer_content p {padding: 0;}
.offer-section .offer_content .offer-google img{width: 120px;}
.offer-section .offer_content .offer-apple img{width: 120px;}
.offer-section .offer-sidelayer {display: none;}
.search-section {padding: 60px 0 100px;}
.search-section .search_content{text-align: center;}
.search-section .search_content p {padding-right: 0px;}
.search-section .search_wrapper{text-align: center;}
.search-section .search_wrapper .search-sidecircle {left: 10px; top: 85px;}
.search-section .search_wrapper .search-phoneback {right: 50px; top: 60px;}
.search-section .search_wrapper .search-phone1 {right: 29px; top: 44px;}
.search-section .search_wrapper .search-phone1 img {width: 280px;}
.search-section .search_wrapper .search-phone2 {left: 18px; top: 30px;}
.search-section .search_content .search-icon{padding-left: 0;}
.manage-section {padding: 490px 0 0 0;}
.manage-section .manage_wrapper{text-align: center; position: relative;}
.manage-section .manage_wrapper .manage-sidecircle {left: 36px; top: 70px;}
.manage-section .manage_wrapper .manage-phoneback {right: 0; top: 40px; position: relative; text-align: center;}
.manage-section .manage_wrapper .manage-phone2 {right: 80px; top: 36px;}
.manage-section .manage_wrapper .manage-phone1 {left: 100px; top: 26px;}
.manage-section .manage_content{text-align: center; padding-left: 0px; margin-bottom: 30px;}
.search-section .manage-icon {padding-left: 0;}
.statistics-section {padding: 60px 0 35px;}
.statistics-section .statistics-sidelayer img {width: 440px;}
.statistics-section .statistics_content h4 {margin-bottom: 8px;}
.statistics-section .statistics_content h2 {margin-bottom: 16px;}
.statistics-section .statistics_content p {padding: 0;}
.statistics-section .statistics-value .number2{border-right: none;}
.statistics-section .statistics-value .number1 {text-align: center; border: 1px solid #69a0f7; margin-bottom: 30px; padding: 20px;}
.statistics-section .statistics-value .number4{border-right: 1px solid #69a0f7;}
.statistics-section .statistics-value .value1 {font-size: 34px; line-height: 30px;}
.statistics-section .statistics-value .text1 {font-size: 16px; line-height: 16px;}
.price-section {padding: 58px 0 60px;}
.price-block .price-sidecircle {top: -36px;}
.price-section .price-block .price_content2 {margin-bottom: 0;}
.accordian-section {padding: 60px 0;}
.available-section {padding: 58px 0 235px;}
.accordian-section .accordion-card .btn-link:before {font-size: 20px; line-height: 20px; top: 36%;}
.accordian-section .accordion-card {margin-bottom: 16px; padding: 0 18px;}
.accordian-section .accordian-inner .accordion-card h6 {line-height: 30px;}
.accordian-section .accordian-inner .card-body {padding: 18px 0;}
.available-section .available_content{text-align: center; margin-bottom: 100px;}
.available-section .available_content h2 {font-size: 38px; line-height: 44px; padding: 0; margin-bottom: 10px;}
.available-section .available_content p {line-height: 26px; padding: 0; margin-bottom: 24px;}
.available-section .available_content .available-google img {width: 120px;}
.available-section .available_content .available-apple img {width: 120px;}
.available-section .available_wrapper{text-align: center;}
.available-section .available_wrapper .available-phone1 {left: 0px; top: -60px;}
.available-section .available_wrapper .available-phone3 {top: 175px; left: 0; position: relative;}
.available-section .available-phone2 { top: 380px;}
.footer-section {padding: 60px 0 0px;}
.footer-section .middle-portion {margin-bottom: 20px;}
.footer-section .middle-portion .services li:last-child{margin-bottom: 30px;}
.footer-section .footer-lower .text-size-18 {text-align: center;}
.footer-section .heading {font-size: 24px; line-height: 20px; margin-bottom: 15px;}
.footer-section .middle-portion .links {padding-left: 0;}
.footer-section .footer-lower {padding: 15px 0;}
/* About */
.sub-banner .banner-section {padding: 40px 0 10px;}
.sub-banner .banner-section .bannersidecircle1 {top: 12px; left: 40px;}
.sub-banner .banner-section .bannersidecircle1 img{width: 40px;}
.sub-banner .banner-section .bannersidecircle2 {top: 66px;}
.sub-banner .banner-section .banner_content .box {padding: 3px 10px; margin-bottom: 18px;}
.sub-banner .banner-section .banner_content h1 {padding: 0px;}
.sub-banner .banner-section .banner_content p {padding: 0px;}
.sub-banner .banner-section .banner_content .box figure img{width: 12px;}
.about-section {padding: 180px 0 60px;}
.about-section .about_content { padding: 30px 10px;margin-bottom: 30px;}
.about-section .about_content1 {margin-bottom: 0px;}
.about-section .about_content .icon-size1 {height: 112px; width: 112px; line-height: 112px; margin-bottom: 20px;}
.about-section .about_content h3 {font-size: 26px;}
.count-section {padding: 65px 0 60px;}
.count-section .count_content {text-align: center; margin-bottom: 40px;}
.count-section .count_content .offer-apple img {width: 120px;}
.count-section .count_content .offer-google img {width: 120px;}
.count-section .count-rightcontent .value1 {font-size: 34px; line-height: 30px;}
.count-section .count-rightcontent .text1 {font-size: 16px; line-height: 16px;}
.count-section .count-rightcontent .number1 {padding: 26px 14px 24px;}
.team-section .teams-background {padding: 172px 0;}
.team-section .our-teams-wrapper .team_content h2 {margin-bottom: 26px;}
.team-section .our-teams-wrapper .team-box{text-align: center;}
.team-section .our-teams-wrapper .team-box .upper-part img{width: 100%;}
.team-section .our-teams-wrapper .team-box .lower-part {padding: 16px 0;}
.review-section {padding: 35px 0 60px;}
.review-section .review_content .content-box .circle {height: 80px; width: 80px; line-height: 80px;}
.review-section .review_content h2 {margin-bottom: 56px;}
.review-section .review_content .content-box {padding: 60px 9px 15px;}
.review-section .review-sidecircle {top: 50px; left: 8px;}
.review-section .review_content h6 {line-height: 20px; font-size: 16px; margin-bottom: 0px;}
.review-section .review_content p {margin-bottom: 14px;}
.review-section .review_content span {font-size: 14px; line-height: 18px; margin-bottom: 4px;}
#carouselExampleControls .carousel-control-prev {top: 70px;}
#carouselExampleControls .carousel-control-next {top: 70px;}
/* FAQ */
.faq-section .accordian_content h2 {margin-bottom: 25px;}
/* Feature About */
.feature-aboutsection {padding: 182px 0 40px;}
.feature_aboutheading h2 {margin-bottom: 25px;}
.feature-aboutsection .feature-block .feature_aboutcontent {padding: 35px 40px;}
.feature-aboutsection .feature_aboutcontent .icon-size1 {height: 94px; width: 94px; line-height: 94px;}
.feature-basicfeature {padding: 28px 0 78px;}
/* Contact */
.message-section {padding: 154px 0 60px;}
.message-section .message_content input {padding: 8px; margin-bottom: 12px;}
.message-section .message_content textarea {height: 120px; padding: 15px 8px; margin-bottom: 8px;}
.message-section .price-sidecircle {right: 22px; top: 18px;}
.message-section .manage_wrapper{text-align: center; position: relative; margin-bottom: 80px;}
.message-section .manage_wrapper .manage-sidecircle {left: 36px; top: 70px;}
.message-section .manage_wrapper .manage-phoneback {right: 0; top: 54px; position: relative; text-align: center;}
.message-section .manage_wrapper .manage-phone2 {right: 80px; top: 36px;}
.message-section .manage_wrapper .manage-phone1 {left: 100px; top: 26px;}
.message-section .manage_content{padding-left: 0px;}
.message-section .message_content {padding: 30px 20px;}
.contact-section {padding: 56px 0 44px;}
.contact-section .feature-block .feature_aboutcontent {padding: 30px 20px;}
/* Pricing */
.pricing-section {padding: 0 0 40px;}
.pricing-section .price-circle {display: none;}
.pricing-section .pricing-box {padding: 20px; margin-bottom: 20px;}
.pricing-section .pricing-box .content1 {padding: 30px 0 0 30px;}
.outer_background .sub-banner .banner-section {padding: 40px 0 120px;}
.pricing-section .pricing-box .content3 {padding: 18px 0 0 12px;}
.pricing-section .pricing-box .text1 {font-size: 28px; line-height: 42px;}
}

@media screen and (max-width: 575px){
    .btn-hero {padding: 18px 100px; }
.navbar-collapse { width: 55%; top: 52px;}
.navbar-brand figure img {width: 130px;}
.navbar { padding: 16px 0;}
p{font-size: 14px; line-height: 22px;}
.banner-section {padding: 38px 0 133px;}
.banner-section .banner_content h1{margin-bottom: 10px; padding: 0;}
.banner-section .banner_content p{margin-bottom: 20px;}
.banner-section .banner_content span {font-size: 14px; line-height: 16px;}
.banner-section .bannersidecircle2{top: 325px;}
.banner-section .bannersidecircle2 img {width: 26px;}
.banner_outer .bannersidelayer img {width: 286px;}
.banner-section .banner_content {margin-bottom: 60px;}
.banner-section .banner_wrapper2 .bannerphone2{top: 20px; left: -4px;} 
.banner-section .banner_wrapper2 .bannerphone2 img{ width: 185px;}
.banner-section .banner_wrapper2 .bannerphoneback{top: -34px; right: 6px;}
.banner-section .banner_wrapper2 .bannerphoneback img{width: 318px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon{ top: 2px; right: 158px;}
.banner-section .banner_wrapper2 .bannerphone-circleicon img{width: 48px;}
.banner-section .banner_wrapper2 .bannerphone-circle{top: 52px; right: 150px;}
.banner-section .banner_wrapper2 .bannerphone-circle img {width: 22px;}
.banner-section .banner_wrapper2 .bannerphone1{top: -6px; right: -8px;}
.banner-section .banner_wrapper2 .bannerphone1 img{width: 222px;}
.aboutus-section {
    margin-top: 80px;
}
.partner-section .partner_box {margin-top: -160px;} 
.partner-section .partner_box {padding: 20px;}
.partner-section .partner_box li {margin-right: 23px; margin-bottom: 18px;}
.aboutus-section {padding: 62px 0 106px;}
.aboutus_text p {line-height: 20px;}
.basic-feature {
    margin-top: 250px;
}
.offer-section {
    padding-top: 80px !important;
}
.basic-feature .feature_wrapperright {padding: 0;}
.basic-feature .feature_wrapperleft {text-align: center; margin-bottom: 16px;}
.basic-feature .featurephoneback {left: 3px; top: -36px;}
.basic-feature .featurephoneback img {width: 328px;}
.basic-feature .featurephone {left: 93px; top: -53px;}
.basic-feature .featurephone img {width: 164px;}
.basic-feature .feature-circle {left: 24px; top: -34px;}
.basic-feature .feature-circle img {width: 54px;}
.basic-feature .featurephone-over {right: -8px; top: 96px;}
.basic-feature .featurephone-over img {width: 190px;}
.basic-feature {padding-bottom: 150px;}
.offer-section {padding: 144px 0 60px; margin-top: -80px;}
.offer-videosection .image-sidecircle {display: none;}
.search-section {
    margin-bottom: 0;
}
.search-section .search_wrapper .search-sidecircle {left: 10px; top: 76px;}
.search-section .search_wrapper .search-sidecircle img {width: 50px;}
.search-section .search_wrapper .search-phoneback {right: -8px; top: 70px;}
.search-section .search_wrapper .search-phoneback img {width: 346px;}
.search-section .search_wrapper .search-phone1 {right: -14px; top: 50px;}
.search-section .search_wrapper .search-phone1 img {width: 250px;}
.search-section .search_wrapper .search-phone2 {left: -10px; top: 32px;}
.search-section .search_wrapper .search-phone2 img {width: 250px;}
.search-section .try_free_btn {font-size: 16px; line-height: 16px;}
.manage-section {padding: 440px 0 0 0;}
.manage-section .manage_wrapper .manage-sidecircle {left: 0; top: 40px;}
.manage-section .manage_wrapper .manage-phoneback {right: 10px;}
.manage-section .manage_wrapper .manage-phoneback img {width: 350px;}
.manage-section .manage_wrapper .manage-phone2 {right: 18px;}
.manage-section .manage_wrapper .manage-phone2 img {width: 157px;}
.manage-section .manage_wrapper .manage-phone1 {left: 40px;}
.manage-section .manage_wrapper .manage-phone1 img {width: 136px;}
.statistics-section .statistics-sidelayer img {width: 350px;}
.statistics-section .statistics-value .value1 {font-size: 30px; line-height: 28px;}
.price-section {padding: 62px 0 64px;}
.price-block .price-sidecircle {top: -80px; right: 10px;}
.accordian-section {padding: 60px 0 62px;}
.accordian-section .accordion-card .btn-link:before {right: -10px;}
.accordian-section .faq_shape {top: -84px; left: 8px;}
.accordian-section .accordian-inner .accordion-card h6 {line-height: 26px;}
.accordian-section .accordion-card {padding: 0 30px 0 10px;}
.accordian-section .accordian-inner .card-body {padding: 15px 0;}
.available-section {padding: 56px 0 402px;}
.available-section .available_content h2 {font-size: 32px; line-height: 36px; padding: 0; margin-bottom: 10px;}
.available-section .available_content p {line-height: 24px; padding: 0; margin-bottom: 24px;}
.available-section .available_wrapper .available-phone1 {left: 0px; top: 115px;}
.available-section .available_wrapper .available-phone3 {display: none;}
.available-section .available-phone2 {top: 346px;}
.footer-section .middle-portion .footer-logo {margin-bottom: 20px;}
.footer-section .footer-lower .text-size-18 {font-size: 14px; line-height: 16px;}
.footer-section .middle-portion .icons {margin-bottom: 30px; text-align: center;}
.footer-section .middle-portion .links {padding-left: 0; text-align: center;}
/* About */
.sub-banner {border-radius: 0 0 70px 70px;}
.sub-banner .banner-section {padding: 40px 0 55px;}
.sub-banner .banner-section .banner_content {margin-bottom: 0px;}
.sub-banner .bannersidelayer img {width: 286px;}
.sub-banner .banner-section .bannersidecircle1 {display: none;}
.sub-banner .banner-section .banner_content .box span {font-size: 14px; line-height: 22px;}
.sub-banner .banner-section .banner_content .box {margin-bottom: 14px;}
.sub-banner .banner-section .banner_content h1 {margin-bottom: 6px;}
.about-section {padding: 182px 0 60px;}
.about-section .about_content .icon-size1 {height: 102px; width: 102px; line-height: 102px; margin-bottom: 16px;}
.about-section .about_content h3 {font-size: 24px;}
.about-section .about_content {margin-bottom: 20px;}
.about-section .price-sidecircle {right: 0;  top: -58px;}
.count-section .count_content {margin-bottom: 35px;}
.count-section .count-rightcontent .value1 {font-size: 30px; line-height: 28px;}
.review-section .review_content .content-box {padding: 50px 9px 15px;}
.review-section .review_content h2 {margin-bottom: 50px;}
.review-section .review_content .content-box .circle {height: 75px; width: 75px; line-height: 75px;}
.review-section .review_content .content-box .circle .review-circlecoma img {width: 36px;}
.review-section .review-sidecircle {top: 36px;}
.review-section .review_content span {margin-bottom: 0;}
#carouselExampleControls .carousel-control-prev {left: -10px; font-size: 18px; line-height: 18px;}
#carouselExampleControls .carousel-control-next {right: -10px; font-size: 18px; line-height: 18px;}
/* FAQ */
.faq-section .accordian_content h2 {margin-bottom: 20px;}
.faq-section .accordion-card .btn-link:before {top: 36%; right: -10px; font-size: 18px; line-height: 18px;}
.faq-section .accordion-card {padding: 0 18px;}
.faq-section .accordian-inner .accordion-card h6 {line-height: 24px; font-size: 16px;}
/* Feature About */
.feature-aboutsection {padding: 178px 0 48px;}
.feature_aboutheading h2 {margin-bottom: 20px;}
.feature-aboutsection .feature-block .feature_aboutcontent {padding: 30px 15px;}
.feature-basicfeature {padding: 114px 0 129px;}
/* Contact */
.message-section {padding: 208px 0 62px;}
.message-section .message_content input {font-size: 14px; line-height: 20px;}
.message-section .message_content textarea {height: 110px; font-size: 14px; line-height: 20px;}
.message-section .manage_wrapper .manage-phoneback {right: 10px; top: -18px;}
.message-section .manage_wrapper .manage-phoneback img {width: 350px;}
.message-section .manage_wrapper .manage-phone2 {right: 18px; top: -18px;}
.message-section .manage_wrapper .manage-phone2 img {width: 157px;}
.message-section .manage_wrapper .manage-phone1 {left: 40px; top: -28px;}
.message-section .manage_wrapper .manage-phone1 img {width: 136px;}
.message-section .manage_wrapper {margin-bottom: 30px;}
.contact-section {padding: 56px 0 44px;}
.message-section .message_content .submit_now {padding: 12px 50px;}
/* Pricing */
.outer_background .sub-banner .banner-section {padding: 46px 0 166px;}
.pricing-section .pricing-box {padding: 20px;}
.pricing-section .pricing-box .content1 {padding: 20px 0 0 20px;}
.pricing-section .pricing-box .content3 {padding: 0; text-align: center;}
.pricing-section .pricing-box .price-button {text-align: center; padding-left: 0;}
.pricing-section .pricing-box .get_started {padding: 12px 28px;}
.pricing-section .pricing-box .text1 {font-size: 26px; line-height: 32px; margin-bottom: 10px;}
}